In [1]:
import pandas as pd
import geopandas as gpd 
import numpy as np 
import math

/opt/anaconda3/envs/Thesis2/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [44]:
#jobs
path = '/Volumes/Almadisk1TB/Thesis/structured_dir/src/otp/access/pt/'
jobs_transit_walk =  pd.read_csv(path + 'traveltimes/traveltimes_health_transit_walk_A.csv')
jobs_transit_walk_mt = pd.read_csv(path + 'traveltimes/traveltimes_health_transit_walk_mt_A.csv')

path = '/Volumes/Almadisk1TB/Thesis/structured_dir/src/otp/access/car_cycle_walk/'
jobs_cars =  pd.read_csv(path + 'traveltimes/traveltimes_health_car_A.csv')
jobs_mt = pd.read_csv(path + 'traveltimes/traveltimes_health_mt_A.csv')

In [62]:
time=1800

In [63]:
#car
geo_id_list = []
jobs_1hr_car_list = []

for geo_id in jobs_cars.GEO_ID_origin.unique():
    jobs = jobs_cars.loc[jobs_cars['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Walk: Total Travel Time (seconds)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_car_list.append(jobs_1hr)

In [64]:
#car dataframe 
jobs_1hr_car = pd.DataFrame()
jobs_1hr_car['GEOID20'] = geo_id_list
jobs_1hr_car['Car'] = jobs_1hr_car_list

In [65]:
#transit
geo_id_list = []
jobs_1hr_transit_list = []

for geo_id in jobs_transit_walk.GEO_ID_origin.unique():
    jobs = jobs_transit_walk.loc[jobs_transit_walk['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Travel time without a car (seconds)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_transit_list.append(jobs_1hr)

In [66]:
#transit dataframe 
jobs_1hr_transit = pd.DataFrame()
jobs_1hr_transit['GEOID20'] = geo_id_list
jobs_1hr_transit['Transit'] = jobs_1hr_transit_list

In [67]:
# microtransit
geo_id_list = []
jobs_1hr_mt_list = []

for geo_id in jobs_mt.GEO_ID_origin.unique():
    jobs = jobs_mt.loc[jobs_mt['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Microtransit: Total Travel Time (seconds)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_mt_list.append(jobs_1hr)

In [68]:
#transit dataframe 
jobs_1hr_mt = pd.DataFrame()
jobs_1hr_mt['GEOID20'] = geo_id_list
jobs_1hr_mt['Microtransit'] = jobs_1hr_mt_list

In [69]:
# microtransit
geo_id_list = []
jobs_1hr_mt_ww_list = []

for geo_id in jobs_mt.GEO_ID_origin.unique():
    jobs = jobs_mt.loc[jobs_mt['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Microtransit: Total Travel Time (seconds, including wait time)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_mt_ww_list.append(jobs_1hr)

In [70]:
#transit dataframe 
jobs_1hr_mt_ww = pd.DataFrame()
jobs_1hr_mt_ww['GEOID20'] = geo_id_list
jobs_1hr_mt_ww['Microtransit with wait time'] = jobs_1hr_mt_ww_list

In [71]:
# microtransit and public transit 
geo_id_list = []
jobs_1hr_pt_walk_mt_list = []

for geo_id in jobs_transit_walk_mt.GEO_ID_origin.unique():
    jobs = jobs_transit_walk_mt.loc[jobs_transit_walk_mt['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Travel time without a car, with mt (seconds)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_pt_walk_mt_list.append(jobs_1hr)

In [72]:
#transit dataframe 
jobs_1hr_pt_walk_mt = pd.DataFrame()
jobs_1hr_pt_walk_mt['GEOID20'] = geo_id_list
jobs_1hr_pt_walk_mt['Microtransit or other transit'] = jobs_1hr_pt_walk_mt_list

In [73]:
# microtransit and public transit 
geo_id_list = []
jobs_1hr_pt_walk_mt_list = []

for geo_id in jobs_transit_walk_mt.GEO_ID_origin.unique():
    jobs = jobs_transit_walk_mt.loc[jobs_transit_walk_mt['GEO_ID_origin'] == geo_id]
    jobs_1hr = 0
    geo_id_list.append(geo_id)
    for i, r in jobs.iterrows():
        if r['Travel time without a car, with mt, with wait time (seconds)'] < time: 
            jobs_1hr += r['Number of healthcare points']
    jobs_1hr_pt_walk_mt_list.append(jobs_1hr)

In [74]:
#transit dataframe 
jobs_1hr_pt_walk_mt_ww = pd.DataFrame()
jobs_1hr_pt_walk_mt_ww['GEOID20'] = geo_id_list
jobs_1hr_pt_walk_mt_ww['Microtransit or other transit, with wait time'] = jobs_1hr_pt_walk_mt_list

In [75]:
jobs_1hr = pd.merge(jobs_1hr_pt_walk_mt, jobs_1hr_car,  on='GEOID20')
jobs_1hr = pd.merge(jobs_1hr, jobs_1hr_mt,  on='GEOID20')
jobs_1hr = pd.merge(jobs_1hr, jobs_1hr_transit,  on='GEOID20')
jobs_1hr = pd.merge(jobs_1hr, jobs_1hr_pt_walk_mt_ww,  on='GEOID20')
jobs_1hr = pd.merge(jobs_1hr, jobs_1hr_mt_ww,  on='GEOID20')

In [76]:
jobs_1hr['Microtransit or other transit'] = jobs_1hr['Microtransit or other transit'].astype(int)
jobs_1hr['Microtransit'] = jobs_1hr['Microtransit'].astype(int)
jobs_1hr['Car'] = jobs_1hr['Car'].astype(int)
jobs_1hr['Transit'] = jobs_1hr['Transit'].astype(int)
jobs_1hr['Microtransit with wait time'] = jobs_1hr['Microtransit with wait time'].astype(int)
jobs_1hr['Microtransit or other transit, with wait time'] = jobs_1hr['Microtransit or other transit, with wait time'].astype(int)

In [77]:
jobs_1hr

,GEOID20,Microtransit or other transit,Car,Microtransit,Transit,"Microtransit or other transit, with wait time",Microtransit with wait time
0,270190911007006,4,4,4,0,0,0
1,270530260281007,4,15,4,0,0,0
2,270190908021012,4,4,4,0,1,1
3,270190908021011,4,4,4,0,1,1
4,270190904014005,4,4,4,0,0,0
...,...,...,...,...,...,...,...
1271,270190904011014,3,3,3,0,0,0
1272,270530260261006,4,20,4,0,1,1
1273,270530260153014,4,32,4,0,2,2
1274,270190907023009,4,14,4,0,1,1
1275,270190907042000,4,23,4,1,3,3

In [78]:
jobs_1hr.to_csv('/Users/almaliezenga/Documents/Thesis/structured_dir/data/processed/Access/cumulative/health_30min_A.csv')